In [6]:
import csv
import numpy as np
import pandas as pd
mi = pd.read_csv('mi.txt', sep=' ', header=None)
# convert to dataframe
mi = pd.DataFrame(mi)
mi

,0,1,2,3,4,5,6,7
0,1.520532e+18,0.060669,-0.029588,0.019263,-0.004920,0.004044,0.002589,0.999976
1,1.520532e+18,0.500405,-0.273183,0.143755,-0.010311,0.004058,0.000277,0.999939
2,1.520532e+18,0.641879,-0.368793,0.160297,-0.016875,0.005462,-0.003335,0.999837
3,1.520532e+18,0.737923,-0.391366,0.297763,-0.020275,0.006824,-0.002804,0.999767
4,1.520532e+18,0.988754,-0.510716,0.281236,-0.032021,0.005637,-0.005666,0.999455
...,...,...,...,...,...,...,...,...
5869,1.520532e+18,-0.472079,0.515610,0.020566,0.000974,-0.005687,-0.999945,-0.008809
5870,1.520532e+18,-0.471481,0.515095,0.019528,0.000414,-0.007972,-0.999940,-0.007484
5871,1.520532e+18,-0.470976,0.514241,0.018603,-0.000452,-0.010022,-0.999930,-0.006287
5872,1.520532e+18,-0.469854,0.513310,0.018118,-0.000564,-0.009775,-0.999932,-0.006363
5873,1.520532e+18,-0.469599,0.513795,0.016133,0.000674,0.008361,0.999948,0.005776

In [7]:
# convert 1520531835051360256 to 1520531835.051360256, for each row
mi[0] = mi[0].apply(lambda x: x/1e9)
mi

,0,1,2,3,4,5,6,7
0,1.520532e+09,0.060669,-0.029588,0.019263,-0.004920,0.004044,0.002589,0.999976
1,1.520532e+09,0.500405,-0.273183,0.143755,-0.010311,0.004058,0.000277,0.999939
2,1.520532e+09,0.641879,-0.368793,0.160297,-0.016875,0.005462,-0.003335,0.999837
3,1.520532e+09,0.737923,-0.391366,0.297763,-0.020275,0.006824,-0.002804,0.999767
4,1.520532e+09,0.988754,-0.510716,0.281236,-0.032021,0.005637,-0.005666,0.999455
...,...,...,...,...,...,...,...,...
5869,1.520532e+09,-0.472079,0.515610,0.020566,0.000974,-0.005687,-0.999945,-0.008809
5870,1.520532e+09,-0.471481,0.515095,0.019528,0.000414,-0.007972,-0.999940,-0.007484
5871,1.520532e+09,-0.470976,0.514241,0.018603,-0.000452,-0.010022,-0.999930,-0.006287
5872,1.520532e+09,-0.469854,0.513310,0.018118,-0.000564,-0.009775,-0.999932,-0.006363
5873,1.520532e+09,-0.469599,0.513795,0.016133,0.000674,0.008361,0.999948,0.005776

In [8]:
# save the dataframe to mitum.txt
mi.to_csv('mitum.txt', sep=' ', header=False, index=False)

In [10]:
sti = pd.read_csv('sti.txt', sep=' ', header=None)
# convert to dataframe
sti = pd.DataFrame(sti)

sti[0] = sti[0].apply(lambda x: x/1e9)

sti.to_csv('stitum.txt', sep=' ', header=False, index=False)

In [12]:
st = pd.read_csv('st.txt', sep=' ', header=None)
# convert to dataframe
st = pd.DataFrame(st)

st[0] = st[0].apply(lambda x: x/1e9)

st.to_csv('stttum.txt', sep=' ', header=False, index=False)